DB_NAME=dbname
DB_USER=rootuser
DB_PASS=changeme
SECRET_KEY=changeme
ALLOWED_HOSTS=127.0.0.1
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=recaps@wiringconnection.com
SERVER_EMAIL=recaps@wiringconnection.com
DEFAULT_FROM_EMAIL=recaps@wiringconnection.com
EMAIL_HOST_PASSWORD=6CiJkwrsbE75IY.-----
EMAIL_USE_TLS=True
EMAIL_TIMEOUT=60

# Sandbox PWA (wcapp.endtoendsolutions.dev) - docker-compose-deploy-pwa.yml
CSRF_TRUSTED_ORIGINS=https://wcapp.endtoendsolutions.dev:8443
TRUST_PROXY_XFWD_PROTO=1
SESSION_COOKIE_SECURE=1
CSRF_COOKIE_SECURE=1
DOMAIN=wcapp.endtoendsolutions.dev
CERTBOT_EMAIL=recaps@wiringconnection.com
